h1 {
      font-size: 30px;
      font-family: sans-serif;
    }
.row {
  display: flex;
}

.column:first-child {
  flex: 0 0 30%; /* fixed 30% width */
}

.column:last-child {
  flex: 1; /* takes the remaining space */
}

.parent {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
}
.parent > div {
      padding: 10px;
      background-color: #68cfef;
      border-radius: 5px;
      display: grid;
      place-items: center;
}

.parent > div {
      font-family: sans-serif;
      font-size: 24px;
      font-weight: bold;
}
